:root {
  --color-one: #093009;
  --top-bar-color: #0D3E10;
  --color-three: #1F6032;
  --color-four: #29773E;
  --button-color: #369457;
  --background-color: #032202;
  --text-color: #FFFFFF;
  --main-picture-desktop-width: 1080px;
  --main-picture-desktop-height: 540px;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-nav-bar-div {
  background-color: var(--top-bar-color);
  background-image: linear-gradient(var(--color-three),var(--top-bar-color));
}

.main-nav-bar-div h1{
  color: var(--text-color);
  font-size: 50px;
  padding: 10px;
  display: flex;
  
}

.links {
  display: inline-block;
  width: 100%; 
  height: 100%;
  text-decoration: none;
}


.main-footer-div {
  background-color: var(--top-bar-color);
  background-image: linear-gradient(var(--color-three),var(--top-bar-color));
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  
  
  
}

.nav-bar-buttons-div {
  display: flex;
  justify-content: left;
  height: 50px;
  
  
}

.nav-bar-buttons-div div{
  overflow-y: hidden;
}

.nav-bar-buttons-div button{
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  background-color: var(--button-color);
  background-image: linear-gradient(var(--button-color),var(--color-four));
  border: 0;
  border-radius: 10px;
  width: 125px;
  height: 40px;
  padding: 5px;
  color: var(--text-color);
  margin-left: 15px;
  margin-right: 50px;
  margin-bottom: 15px;
  text-shadow: black 2px 2px 4px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}





.nav-bar-buttons-div button:hover{
  cursor: pointer;
  background-color: var(--color-three);
  background-image: linear-gradient(var(--color-three),var(--color-one));
}

.nav-bar-buttons-div .selected-button {
  background-color: var(--color-three);
  background-image: linear-gradient(var(--color-three),var(--color-one));
  
}

.nav-bar-buttons-div a{
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  background-color: var(--button-color);
  background-image: linear-gradient(var(--button-color),var(--color-four));
  border: 0;
  border-radius: 10px;
  width: 115px;
  height: 30px;
  padding: 5px;
  color: var(--text-color);
  margin-left: 15px;
  margin-right: 50px;
  margin-bottom: 15px;
  text-shadow: black 2px 2px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
  
}

.nav-bar-buttons-div a:hover{
  cursor: pointer;
  background-color: var(--color-three);
  background-image: linear-gradient(var(--color-three),var(--color-one));
}


.main-photos-list {
  list-style: none;
  display: flex;
  /* animation-name: slide;
  animation-duration: 10s;
  animation-iteration-count:infinite; */

  animation: slide 30s ease-in-out infinite;
  overflow-x: visible;
  

}

.main-photos-list img {
  width: 1080px;
  /* height: var(--main-picture-desktop-height); */
  height: 650px;
  display: block;
  
}

.auto-slider{
  display: flex;
  margin: 150px auto;
  
  /* outline: 1px solid red; */
  width: 1080px;
  /* height: var(--main-picture-desktop-height); */
  height: 650px;
  overflow-x: hidden;
  
  

}

.home-page {
  background-color: var(--background-color);
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  
}

@keyframes slide{
  10%{
    transform: translateX(0);
  }
  15%, 30%{
    transform: translateX(-1080px);
  }
  35%, 50%{
    transform: translateX(-2160px);
  }
  55%, 70%{
    transform: translateX(-3240px);
  }
  75%, 90%{
    transform: translateX(0);
  }
}

.characters-page-div {
  position: absolute;
  background-color: var(--background-color);
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  
}

.characters-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--top-bar-color);
  background-image: linear-gradient(var(--color-three),var(--top-bar-color));
  font-size: 30px;
  height: 100px;
}

.characters-page-header input{
  color: black;
  padding-left: 7px;
  border: 0;
  border-radius: 5px;
  height: 40px;
  width: 400px;
  margin-right: 50px;
}

.characters-page-header-back-and-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  

}

.back-button {
  width: 40px;
  height: auto;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  filter: drop-shadow(2px 3px 4px black);
  
}

.back-button:hover {
  height: 45px;
  width: auto;
  margin-right: 5px;
}

.character-list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.character-list-div {
  margin: 0 auto;
  margin-top: 30px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4,320px);
  overflow-x: visible;
}

.episode-description {
  margin-top: 30px;
  margin-bottom: -30px;
}

.character-option-div-wrapper {
  height: 300px;
  width: 300px;
  background-color: var(--button-color);
  background-image: linear-gradient(var(--button-color),var(--color-four));
  margin: 30px;
  padding-top: 20px;
  border-radius: 5px;
  text-shadow: black 1px 2px 4px;
  box-shadow: black 5px 5px 10px;
  overflow-y: hidden;
  
}

.character-option-div-wrapper:hover {
  cursor: pointer;
  height: 305px;
  width: 305px;
  margin: 25px;
}

.page-title {
  text-shadow: black 2px 3px 10px;
}

.character-option-div img {
  width: 200px; 
  height: 250px;
}



.character-details-page-div {
  display: flex;
  background-color: var(--background-color);
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.character-details-page-div .back-button{
  margin-left: 10px;
}

.character-details-page-div .back-button-wrapper{
  
  overflow-x: visible;

}

.character-details-loaded-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.character-details-loaded-div {
  display: flex;
  
  
}

.character-details-loaded-div h3 {
  margin-top: 10px;
}

.character-details-loaded-div img {
  height: 1000px;
  width: 650px;
  box-shadow: 2px 2px 15px black;
  border-radius: 5px;
  overflow-x: visible;
}



.character-details-spoiler-div {
  background-color: var(--top-bar-color);
  background-image: linear-gradient(var(--color-three),var(--top-bar-color));
  justify-content: center;
  padding: 40px;
  margin-top: 30px;
  border-radius: 5px;
  height: 200px;
  overflow-y: hidden;
  
}

/* .character-details-spoiler-div button{
  background-color: var(--button-color);
  margin-top: 20px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.character-details-spoiler-div button:hover {
  background-color: var(--color-three);
  
} */

.character-details-details-wrapper {
  display: flex;
  justify-content: center;
}

.character-details-details {
  margin: 50px;
  margin-left: 25px;
  width: 500px;
}

.character-details-details h1{
  font-size: 50px;
  margin-bottom: 10px;
}

.character-details-details h2{
  font-size: 30px;
}

.episode-details-page-div {
  position: absolute;
  background-color: var(--background-color);
  height: 100%;
  width: 100%;
  
}

.episode-details-options-div {
  display: flex;
  justify-content: center;
  margin-top: 7%;
}

.episode-details-options-div img{
  height: 350px;
  width: 440px;
  margin: 10px;
}


.episode-details-options-div img:hover{
  height: 360px;
  width: 450px;
  margin: 5px;
}


.arrow-choice-button {
  height: 40px;
  width: 40px;
  margin: 10px;
  filter: drop-shadow(2px 3px 4px black);
}

.arrow-choice-button:hover {
  height: 50px;
  width: 50px;
  margin: 5px;
  
}

.arrow-choice-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.episode-list-div {
  margin: 0 auto;
  margin-top: 30px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4,320px);
  background-color: var(--background-color);
}


.episode-option-wrapper {
  height: 170px;
  width: 300px;
  background-color: var(--button-color);
  background-image: linear-gradient(var(--button-color),var(--color-four));
  margin: 30px;
  padding-top: 15px;
  border-radius: 5px;
  text-shadow: black 1px 2px 4px;
  box-shadow: black 5px 5px 10px;
  
}

.episode-option-wrapper:hover {
  cursor: pointer;
  height: 175px;
  width: 305px;
  margin: 25px;
}


.small-icon {
  height: 75px;
   width: 75px;
}

.smaller-icon {
  height: 60px;
  width: 60px;
}

.episode-option-div {
  margin-top: 20px;
}

.quotes-instructions-div {
  margin-top: 10px;
  margin-bottom: -20px;
}

.character-quotes-modal-wrapper {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--top-bar-color);
  background-image: linear-gradient(var(--color-three),var(--top-bar-color));
  width: 875px;
  padding: 40px;
  border-radius: 5px;
}


.character-quotes-modal-div li{
  text-align: left;
  margin-top: 10px;
  font-size: 19px;
}

.random-quote-text-div {
  margin-top: 8px;
}

.random-quote-text-div h4 {
  margin-top: 8px;
}

.page-background {
  position: absolute;
   min-height: 100%;
   min-width: 1024px;
   width: 100%;
   height: auto;
   top: 0;
   left: 0;
  background-color: var(--background-color);
}

.standard-header {
  display: flex;
  align-items: center;
  background-color: var(--top-bar-color);
  background-image: linear-gradient(var(--color-three),var(--top-bar-color));
  font-size: 30px;
  height: 100px;
}




.standard-header .back-button{
  margin-left: 10px;
}

.header-extension {
  background-color: var(--top-bar-color);
  background-image: linear-gradient(var(--top-bar-color),var(--color-one));
}



.spoiler-modal-div {
  position: absolute;
  width: 35%;
  height: 300px;
  text-align: center;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--top-bar-color);
  background-image: linear-gradient(var(--color-three),var(--top-bar-color));
  text-shadow: black 1px 1px 4px;
  border-radius: 5px;

  
}

.spoiler-modal-div h1{
  font-size: 40px;  
}

.misc-text {
  text-shadow: black 1px 1px 4px;
}


.spoiler-modal-content-div {
  margin: 30px;
}

.action-button {
  border: 0px;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--button-color);
  background-image: linear-gradient(var(--button-color),var(--color-four));
  cursor: pointer;
  margin-top: 20px;
  text-shadow: black 1px 1px 4px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-weight: bold;
}

.action-button:hover {
  background-color: var(--color-three);
  background-image: linear-gradient(var(--color-three),var(--color-one));
  padding: 15px;
  margin-top: 10px;
}

.deaths-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--top-bar-color);
  background-image: linear-gradient(var(--color-three),var(--top-bar-color));
  font-size: 30px;
  height: 150px;
}

.deaths-page-header .standard-header {
  height: inherit;
}

.num-of-deaths-div {
  width: 500px;
  font-size: 25px;
}

.death-option-wrapper {
  border-radius: 5px;
  background-color: var(--button-color);
  background-image: linear-gradient(var(--button-color),var(--color-four));
  height: 155px;
  width: 210px;
  margin: 10px;
}

.death-option-wrapper:hover {
  cursor: pointer;
  height: 160px;
  width: 215px;
  margin: 5px;
}

.death-option-div {
  margin-top: 20px;
  padding: 10px;
  
}

.deaths-list-div {
  margin: 0 auto;
  margin-top: 30px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4,300px);
  background-color: var(--background-color);
}

.death-modal-div {
  position: fixed;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--top-bar-color);
  background-image: linear-gradient(var(--color-three),var(--top-bar-color));
  width: 600px;
  padding: 40px;
  padding-top: 20px;
  border-radius: 5px;
  
}

.death-modal-div h1{
  font-size: 50px;
  margin-bottom: 8px;
  
}

.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  cursor: pointer;
}

.quote-image {
  height: 450px;
  width: 337px;
  box-shadow: 1px 1px 10px black;
  border-radius: 5px;
  
}

/* Tablet View - LandScape*/
@media screen and (min-width: 720px) and (max-width: 1080px) and (orientation: landscape) {
  .main-photos-list img {
    width: 800px;
    /* height: var(--main-picture-desktop-height); */
    height: 470px;
    display: block;
    overflow-x: visible;
  }

  .auto-slider{
    display: flex;
    margin: 150px auto;
    margin-top: 50px;
    
    /* outline: 1px solid red; */
    width: 800px;
    /* height: var(--main-picture-desktop-height); */
    height: 470px;
    overflow-x: hidden;
    
    
  
  }
  
  @keyframes slide{
    10%{
      transform: translateX(0);
    }
    15%, 30%{
      transform: translateX(-800px);
    }
    35%, 50%{
      transform: translateX(-1600px);
    }
    55%, 70%{
      transform: translateX(-2400px);
    }
    75%, 90%{
      transform: translateX(0);
    }
  }

  .character-list-div {
    margin: 0 auto;
    margin-top: 30px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,320px);
    overflow-x: visible;
  }
  


  .character-details-loaded-div img {
    width: 500px;
    height: 100%;
  }
  
}

/* Tablet View - portrait*/
@media screen and (min-width: 720px) and (max-width: 1080px) and (orientation: portrait) {


}

/* Mobile view */
@media screen and (min-width: 320px) and (max-width: 720px){
  .character-details-loaded-div img {
    width: 300px;
    height: 400px;

  }
}