:root {
  --color-one: #093009;
  --top-bar-color: #0D3E10;
  --color-three: #1F6032;
  --color-four: #29773E;
  --button-color: #369457;
  --background-color: #032202;
  --text-color: #FFFFFF;
  --main-picture-desktop-width: 1080px;
  --main-picture-desktop-height: 540px;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-nav-bar-div {
  background-color: var(--top-bar-color);
  background-image: linear-gradient(var(--color-three),var(--top-bar-color));
}

.main-nav-bar-div h1{
  color: var(--text-color);
  font-size: 50px;
  padding: 10px;
  display: flex;
  
}

.links {
  display: inline-block;
  width: 100%; 
  height: 100%;
  text-decoration: none;
}


.main-footer-div {
  background-color: var(--top-bar-color);
  background-image: linear-gradient(var(--color-three),var(--top-bar-color));
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  
  
  
}

.nav-bar-buttons-div {
  display: flex;
  justify-content: left;
  height: 50px;
  
  
}

.nav-bar-buttons-div div{
  overflow-y: hidden;
}

.nav-bar-buttons-div button{
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  background-color: var(--button-color);
  background-image: linear-gradient(var(--button-color),var(--color-four));
  border: 0;
  border-radius: 10px;
  width: 125px;
  height: 40px;
  padding: 5px;
  color: var(--text-color);
  margin-left: 15px;
  margin-right: 50px;
  margin-bottom: 15px;
  text-shadow: black 2px 2px 4px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}





.nav-bar-buttons-div button:hover{
  cursor: pointer;
  background-color: var(--color-three);
  background-image: linear-gradient(var(--color-three),var(--color-one));
}

.nav-bar-buttons-div .selected-button {
  background-color: var(--color-three);
  background-image: linear-gradient(var(--color-three),var(--color-one));
  
}

.nav-bar-buttons-div a{
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  background-color: var(--button-color);
  background-image: linear-gradient(var(--button-color),var(--color-four));
  border: 0;
  border-radius: 10px;
  width: 115px;
  height: 30px;
  padding: 5px;
  color: var(--text-color);
  margin-left: 15px;
  margin-right: 50px;
  margin-bottom: 15px;
  text-shadow: black 2px 2px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
  
}

.nav-bar-buttons-div a:hover{
  cursor: pointer;
  background-color: var(--color-three);
  background-image: linear-gradient(var(--color-three),var(--color-one));
}


.main-photos-list {
  list-style: none;
  display: flex;
  /* animation-name: slide;
  animation-duration: 10s;
  animation-iteration-count:infinite; */

  animation: slide 30s ease-in-out infinite;
  overflow-x: visible;
  

}

.main-photos-list img {
  width: 1080px;
  /* height: var(--main-picture-desktop-height); */
  height: 650px;
  display: block;
  
}

.auto-slider{
  display: flex;
  margin: 150px auto;
  
  /* outline: 1px solid red; */
  width: 1080px;
  /* height: var(--main-picture-desktop-height); */
  height: 650px;
  overflow-x: hidden;
  
  

}

.home-page {
  background-color: var(--background-color);
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  
}

@keyframes slide{
  10%{
    transform: translateX(0);
  }
  15%, 30%{
    transform: translateX(-1080px);
  }
  35%, 50%{
    transform: translateX(-2160px);
  }
  55%, 70%{
    transform: translateX(-3240px);
  }
  75%, 90%{
    transform: translateX(0);
  }
}

.characters-page-div {
  position: absolute;
  background-color: var(--background-color);
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  
}

.characters-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--top-bar-color);
  background-image: linear-gradient(var(--color-three),var(--top-bar-color));
  font-size: 30px;
  height: 100px;
}

.characters-page-header input{
  color: black;
  padding-left: 7px;
  border: 0;
  border-radius: 5px;
  height: 40px;
  width: 400px;
  margin-right: 50px;
}

.characters-page-header-back-and-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  

}

.back-button {
  display: flex;
  align-items: center;
  width: 40px;
  height: auto;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  filter: drop-shadow(2px 3px 4px black);
  
}

.back-button:hover {
  height: 45px;
  width: auto;
  margin-right: 5px;
}

.character-list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.character-list-div {
  margin: 0 auto;
  margin-top: 30px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4,320px);
  overflow-x: visible;
}

.episode-description {
  margin-top: 30px;
  margin-bottom: -30px;
}

.character-option-div-wrapper {
  height: 320px;
  width: 300px;
  background-color: var(--button-color);
  background-image: linear-gradient(var(--button-color),var(--color-four));
  margin: 30px;
  border-radius: 5px;
  text-shadow: black 1px 2px 4px;
  box-shadow: black 5px 5px 10px;
  overflow-y: hidden;
  
}

.character-option-div-wrapper:hover {
  cursor: pointer;
  height: 325px;
  width: 305px;
  margin: 25px;
}

.character-option-div-wrapper a{
  padding-top: 20px;
}

.character-option-div img {
  width: 200px; 
  height: 250px;
}

.no-link .character-option-div {
  padding-top: 20px;
}

.page-title {
  text-shadow: black 2px 3px 10px;
}





.character-details-page-div {
  display: flex;
  background-color: var(--background-color);
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.character-details-page-div .back-button{
  margin-left: 10px;
}

.character-details-page-div .back-button-wrapper{
  
  overflow-x: visible;

}

.character-details-loaded-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.character-details-loaded-div {
  display: flex;
  
  
}

.character-details-loaded-div h3 {
  margin-top: 10px;
}

.character-details-loaded-div img {
  height: 1000px;
  width: 650px;
  box-shadow: 2px 2px 15px black;
  border-radius: 5px;
  overflow-x: visible;
}



.character-details-spoiler-div {
  background-color: var(--top-bar-color);
  background-image: linear-gradient(var(--color-three),var(--top-bar-color));
  justify-content: center;
  padding: 40px;
  margin-top: 30px;
  border-radius: 5px;
  height: 200px;
  overflow-y: hidden;
  
}

/* .character-details-spoiler-div button{
  background-color: var(--button-color);
  margin-top: 20px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.character-details-spoiler-div button:hover {
  background-color: var(--color-three);
  
} */

.character-details-details-wrapper {
  display: flex;
  justify-content: center;
}

.character-details-details {
  margin: 50px;
  margin-left: 25px;
  width: 500px;
}

.character-details-details h1{
  font-size: 50px;
  margin-bottom: 10px;
}

.character-details-details h2{
  font-size: 30px;
}

.episode-details-page-div {
  position: absolute;
  background-color: var(--background-color);
  height: 100%;
  width: 100%;
  
}

.episode-details-options-div {
  display: flex;
  justify-content: center;
  margin-top: 7%;
}

.episode-details-options-div img{
  height: 350px;
  width: 440px;
  margin: 10px;
  box-shadow: 1px 1px 3px black;
}


.episode-details-options-div img:hover{
  height: 360px;
  width: 450px;
  margin: 5px;
}


.arrow-choice-button {
  height: 40px;
  width: 40px;
  margin: 10px;
  filter: drop-shadow(2px 3px 4px black);
}

.arrow-choice-button:hover {
  height: 50px;
  width: 50px;
  margin: 5px;
  
}

.arrow-choice-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.episode-list-div {
  margin: 0 auto;
  margin-top: 30px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4,320px);
  background-color: var(--background-color);
}


.episode-option-wrapper {
  height: 190px;
  width: 300px;
  background-color: var(--button-color);
  background-image: linear-gradient(var(--button-color),var(--color-four));
  margin: 30px;
  border-radius: 5px;
  text-shadow: black 1px 2px 4px;
  box-shadow: black 5px 5px 10px;
  overflow-y: hidden;
  
}

.episode-option-wrapper:hover {
  cursor: pointer;
  height: 195px;
  width: 305px;
  margin: 25px;
}

.episode-option-wrapper a{
  padding-top: 15px;
  
}


.small-icon {
  height: 75px;
   width: 75px;
}

.smaller-icon {
  height: 60px;
  width: 60px;
}

.episode-option-div {
  margin-top: 20px;
}

.quotes-instructions-div {
  margin-top: 10px;
  margin-bottom: -20px;
}

.character-quotes-modal-wrapper {
  position: fixed;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--top-bar-color);
  background-image: linear-gradient(var(--color-three),var(--top-bar-color));
  width: 775px;
  max-height: 900px;
  padding: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 5px;
  overflow-y: visible;
  box-shadow: 1px 1px 20px black;
}


.character-quotes-modal-div li{
  text-align: left;
  margin-top: 10px;
  font-size: 19px;
}

.random-quote-text-div {
  margin-top: 8px;
}

.random-quote-text-div h4 {
  margin-top: 8px;
}

.page-background {
  position: absolute;
   min-height: 100%;
   min-width: 1024px;
   width: 100%;
   height: auto;
   top: 0;
   left: 0;
  background-color: var(--background-color);
}

.standard-header {
  display: flex;
  align-items: center;
  background-color: var(--top-bar-color);
  background-image: linear-gradient(var(--color-three),var(--top-bar-color));
  font-size: 30px;
  height: 100px;
}




.standard-header .back-button{
  margin-left: 10px;
}

.header-extension {
  background-color: var(--top-bar-color);
  background-image: linear-gradient(var(--top-bar-color),var(--color-one));
}



.spoiler-modal-div {
  position: fixed;
  width: 500px;
  height: 300px;
  text-align: center;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--top-bar-color);
  background-image: linear-gradient(var(--color-three),var(--top-bar-color));
  text-shadow: black 1px 1px 4px;
  border-radius: 5px;
  box-shadow: 1px 1px 20px black;
  
}

.spoiler-modal-div h1{
  font-size: 40px;  
}

.misc-text {
  text-shadow: black 1px 1px 4px;
}


.spoiler-modal-content-div {
  margin: 30px;
}

.action-button {
  border: 0px;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--button-color);
  background-image: linear-gradient(var(--button-color),var(--color-four));
  cursor: pointer;
  margin-top: 20px;
  text-shadow: black 1px 1px 4px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-weight: bold;
}

.action-button:hover {
  background-color: var(--color-three);
  background-image: linear-gradient(var(--color-three),var(--color-one));
  padding: 15px;
  margin-top: 10px;
}

.deaths-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--top-bar-color);
  background-image: linear-gradient(var(--color-three),var(--top-bar-color));
  font-size: 30px;
  height: 150px;
}

.deaths-page-header .standard-header {
  height: inherit;
}

.num-of-deaths-div {
  width: 500px;
  font-size: 25px;
}

.death-option-wrapper {
  border-radius: 5px;
  background-color: var(--button-color);
  background-image: linear-gradient(var(--button-color),var(--color-four));
  height: 155px;
  width: 210px;
  margin: 10px;
  overflow-y: hidden;
}

.death-option-wrapper:hover {
  cursor: pointer;
  height: 160px;
  width: 215px;
  margin: 5px;
}

.death-option-div {
  margin-top: 20px;
  padding: 10px;
  
}

.deaths-content-div {
  margin-top: 10px;
}

.deaths-list-div {
  margin: 0 auto;
  margin-top: 30px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4,300px);
  background-color: var(--background-color);
}

.death-modal-div {
  position: fixed;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--top-bar-color);
  background-image: linear-gradient(var(--color-three),var(--top-bar-color));
  width: 600px;
  padding: 40px;
  padding-top: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px black;
  
}

.death-modal-div h1{
  font-size: 50px;
  margin-bottom: 8px;
  
}

.modal-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  cursor: pointer;
  
}

.quote-image {
  height: 450px;
  width: 337px;
  box-shadow: 1px 1px 10px black;
  border-radius: 5px;
  
}

/* Tablet View - LandScape*/
@media screen and (min-width: 720px) and (max-width: 1080px) and (orientation: landscape) {
  .main-photos-list img {
    width: 800px;
    /* height: var(--main-picture-desktop-height); */
    height: 470px;
    display: block;
    overflow-x: visible;
  }

  .auto-slider{
    display: flex;
    margin: 150px auto;
    margin-top: 10px;
    margin-bottom: 100px;
    
    /* outline: 1px solid red; */
    width: 800px;
    /* height: var(--main-picture-desktop-height); */
    height: 470px;
    overflow-x: hidden;
    
  }
  
  @keyframes slide{
    10%{
      transform: translateX(0);
    }
    15%, 30%{
      transform: translateX(-800px);
    }
    35%, 50%{
      transform: translateX(-1600px);
    }
    55%, 70%{
      transform: translateX(-2400px);
    }
    75%, 90%{
      transform: translateX(0);
    }
  }

    /* Characters section */

  .character-list-div {
    margin: 0 auto;
    margin-top: 30px;
    margin-left: -10px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,340px);
    overflow-x: visible;
  }
  


  .character-details-loaded-div img {
    width: 500px;
    height: 100%;
  }

  /* episode details section */

  .episode-details-options-div img{
  height: 250px;
  width: 275px;
  margin: 10px;
  margin-left: 0px
  

  }

  .episode-details-options-div img:hover{
    height: 260px;
    width: 285px;
    margin: 5px;
    margin-left: -5px;

  }

  .episode-list-div {
    margin: 0 auto;
    margin-top: 20px;
    margin-left: -20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,340px);
    background-color: var(--background-color);
  }

    /* nav bar buttons */

  .nav-bar-buttons-div button:hover{
    background-color: var(--button-color);
    background-image: linear-gradient(var(--button-color),var(--color-four));
  }

  .nav-bar-buttons-div .selected-button {
    background-color: var(--button-color);
    background-image: linear-gradient(var(--button-color),var(--color-four));
    
  }

  .nav-bar-buttons-div a:hover {
    background-color: var(--button-color);
    background-image: linear-gradient(var(--button-color),var(--color-four));
  }

    /* Quotes Section */

  .character-quotes-modal-wrapper {
    position: fixed;
    margin: auto; 
    margin-top: 35px;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0%);
    background-color: var(--top-bar-color);
    background-image: linear-gradient(var(--color-three),var(--top-bar-color));
    width: 675px;
    max-height: 475px;
    border-radius: 5px;
  }

  .character-quotes-modal-wrapper img {
    height: 350px;
    width: 250px;
  }

    /* Deaths Section */

  .deaths-list-div {
    margin: 0 auto;
    margin-top: 30px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,250px);
    background-color: var(--background-color);
  }

}

/* Tablet View - portrait*/
@media screen and (min-width: 720px) and (max-width: 1080px) and (orientation: portrait) {

  

  .main-photos-list img {
    width: 800px;
    /* height: var(--main-picture-desktop-height); */
    height: 470px;
    display: block;
    overflow-x: visible;
  }

  .auto-slider{
    display: flex;
    margin: 150px auto;
    margin-top: 100px;
    margin-bottom: 100px;
    
    /* outline: 1px solid red; */
    width: 800px;
    /* height: var(--main-picture-desktop-height); */
    height: 470px;
    overflow-x: hidden;
    
  }
  
  @keyframes slide{
    10%{
      transform: translateX(0);
    }
    15%, 30%{
      transform: translateX(-800px);
    }
    35%, 50%{
      transform: translateX(-1600px);
    }
    55%, 70%{
      transform: translateX(-2400px);
    }
    75%, 90%{
      transform: translateX(0);
    }
  }

    /* Characters section */

    .characters-page-header {
      display: block;
      background-color: var(--top-bar-color);
      background-image: linear-gradient(var(--color-three),var(--top-bar-color));
      font-size: 30px;
      height: 135px;
      overflow-y: hidden;
    }
  
    .characters-page-header input{
      display: inline-block;
      justify-content: center;
      padding-left: 15px;
      font-size: 20px;
      height: 40px;
      width: 400px;
      margin-top: 5px;
      margin-left: 10px;
      
      
    }
    
    .characters-page-header-back-and-title {
      display: flex;
      align-items: center;
      justify-content: left;
      margin-left: 10px;
      
    
    }

  .character-list-div {
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 0px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,250px);
    overflow-x: visible;
  }
  

  .character-option-div-wrapper {
    height: 230px;
    width: 220px;
    background-color: var(--button-color);
    background-image: linear-gradient(var(--button-color),var(--color-four));
    margin: 30px;
    border-radius: 5px;
    text-shadow: black 1px 2px 4px;
    box-shadow: black 5px 5px 10px;
    overflow-y: hidden;
    
  }
  
  .character-option-div-wrapper:hover {
    cursor: pointer;
    height: 235px;
    width: 225px;
    margin: 25px;
  }
  
  .character-option-div-wrapper a{
    padding-top: 20px;
  }

  .character-option-div {
    overflow-x: hidden;
  }

  .character-option-div img {
    width: 125px; 
    height: 175px;
  }

  /* Character Details Section */

  .character-details-loaded-div img {
    width: 300px;
    height: 400px;
    margin-bottom: -30px;
  }


  .character-details-page-div {
    display: flex;
    background-color: var(--background-color);
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  
  .character-details-page-div .back-button{
    margin-left: 10px;
  }
  
  .character-details-page-div .back-button-wrapper{
    
    overflow-x: visible;
  
  }
  
  .character-details-loaded-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
    
  }
  
  .character-details-loaded-div {
    display: block;
    /* overflow-y: hidden; */
  }

  .character-details-loaded-div h1 {
    margin-top:-10px;
  }
  
  .character-details-loaded-div h3 {
    margin-top: 7px;
  }
  

  
  
  
  .character-details-spoiler-div {
    background-color: var(--top-bar-color);
    background-image: linear-gradient(var(--color-three),var(--top-bar-color));
    justify-content: center;
    padding: 40px;
    margin-top: 10px;
    border-radius: 5px;
    height: 175px;
    overflow-y: hidden;
    
  }
  
  .character-details-spoiler-div h3 {
    margin-bottom: 10px;
  }
  
  
  .character-details-details-wrapper {
    display: flex;
    justify-content: center;
  }
  
  .character-details-details {
    margin: 50px;
    margin-left: 25px;
    width: 500px;
  }
  
  .character-details-details h1{
    font-size: 50px;
    margin-bottom: 10px;
  }
  
  .character-details-details h2{
    font-size: 30px;
  }
  

  

  /* episode details section */

  .episode-details-options-div {
    display: block;
  }

  .episode-details-instructions-div {
    display: flex;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%,0px);
    margin: 10px;
    width: fit-content;

  }

  .episode-details-options-div img{
  height: 325px;
  width: 425px;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 0px;

  }

  .episode-details-options-div img:hover{
    height: 330px;
    width: 430px;
    margin: 5px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: -5px;

  }

  .episode-list-div {
    margin: 0 auto;
    margin-top: 20px;
    margin-left: -20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,350px);
    background-color: var(--background-color);
  }

  .page-background {
    min-width: auto;
    
  }

  

  .better-call-saul-page .nav-bar-buttons-div {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,190px);
    height: fit-content;
  }


  .arrow-choice-button {
    display: none;
    
  }


    /* nav bar buttons */



  .nav-bar-buttons-div button:hover{
    background-color: var(--button-color);
    background-image: linear-gradient(var(--button-color),var(--color-four));
  }

  .nav-bar-buttons-div .selected-button {
    background-color: var(--button-color);
    background-image: linear-gradient(var(--button-color),var(--color-four));
    
  }

  .nav-bar-buttons-div a:hover {
    background-color: var(--button-color);
    background-image: linear-gradient(var(--button-color),var(--color-four));
  }

    /* Spoiler Warning Modal section */

  .spoiler-modal-div {
    width: 400px;
    height: 275px;
  }

    /* Quotes Section */

  .character-quotes-modal-wrapper {
    position: fixed;
    margin: auto; 
    margin-top: 35px;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-10%);
    background-color: var(--top-bar-color);
    background-image: linear-gradient(var(--color-three),var(--top-bar-color));
    width: 500px;
    max-height: 700px;
    border-radius: 5px;
    overflow-y: visible;
    
  }

    /* Deaths Section */

  .deaths-list-div {
    margin: 0 auto;
    margin-top: 30px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,250px);
    margin-left: 20px;
    background-color: var(--background-color);
  }

}

/* Mobile view Portrait*/
@media screen and (min-width: 320px) and (max-width: 720px) and (orientation: portrait) {

  
    .main-photos-list img {
      width: 320px;
      /* height: var(--main-picture-desktop-height); */
      height: 220px;
      display: block;
      overflow-x: visible;
    }
  
    .auto-slider{
      display: flex;
      margin: 150px auto;
      margin-top: 10px;
      margin-bottom: 10px;
      
      /* outline: 1px solid red; */
      width: 320px;
      /* height: var(--main-picture-desktop-height); */
      height: 220px;
      overflow-x: hidden;
    
      
    }
    
    @keyframes slide{
      10%{
        transform: translateX(0);
      }
      15%, 30%{
        transform: translateX(-320px);
      }
      35%, 50%{
        transform: translateX(-640px);
      }
      55%, 70%{
        transform: translateX(-960px);
      }
      75%, 90%{
        transform: translateX(0);
      }
    }

    .main-footer-div {
      height: 55px;
    }
  
      /* Characters section */
  
      .characters-page-header {
        display: block;
        background-color: var(--top-bar-color);
        background-image: linear-gradient(var(--color-three),var(--top-bar-color));
        font-size: 30px;
        height: 135px;
        overflow-y: hidden;
      }
    
      .characters-page-header input{
        display: inline-block;
        justify-content: center;
        padding-left: 15px;
        font-size: 20px;
        height: 40px;
        width: 80%;
        margin-top: 5px;
        margin-left: 20px;
        
        
      }
      
      .characters-page-header-back-and-title {
        display: flex;
        align-items: center;
        justify-content: left;
        margin-left: 5px;
        
      
      }
  
    .character-list-div {
      margin: 0 auto;
      margin-top: 30px;
      margin-left: -5px;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(2,175px);
      overflow-x: visible;
    }
    
  
    .character-option-div-wrapper {
      height: 160px;
      width: 160px;
      background-color: var(--button-color);
      background-image: linear-gradient(var(--button-color),var(--color-four));
      margin: 30px;
      border-radius: 5px;
      text-shadow: black 1px 2px 4px;
      box-shadow: black 5px 5px 10px;
      overflow-y: hidden;
      margin-bottom: 20px;
      margin-top: 10px
    }
    
    .character-option-div-wrapper:hover {
      cursor: pointer;
      height: 165px;
      width: 165px;
      margin: 25px;
      margin-bottom: 15px;
      margin-top: 5px;
    }
    
    .character-option-div-wrapper a{
      padding-top: 10px;
    }
  
    .character-option-div {
      overflow-x: hidden;
    }
  
    .character-option-div img {
      width: 75px; 
      height: 100px;
    }
  
    /* Character Details Section */
  
    .character-details-loaded-div img {
      width: 300px;
      height: 400px;
      margin-bottom: -30px;
      margin-top: 15px;
    }
  
  
    .character-details-page-div {
      display: block;
      background-color: var(--background-color);
      position: absolute;
      height: 100%;
      width: 100%;
      overflow-x: hidden;
    }
    
    .character-details-page-div .back-button{
      
      margin-left: 10px;
    }
    
    .character-details-page-div .back-button-wrapper{
      display: flex;
      justify-content: left;
      overflow-x: visible;
    
    }
    
    .character-details-loaded-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 0px;
      min-width: 100%;
      
      
    }
    
    .character-details-loaded-div {
      display: block;
      
      /* overflow-y: hidden; */
    }
  
    .character-details-loaded-div h1 {
      margin-top:-10px;
      
      
    }
    
    .character-details-loaded-div h3 {
      margin-top: 10px;
    }
    
  
    
    
    
    .character-details-spoiler-div {
      background-color: var(--top-bar-color);
      background-image: linear-gradient(var(--color-three),var(--top-bar-color));
      justify-content: center;
      padding: 40px;
      margin-top: 10px;
      border-radius: 5px;
      height: fit-content;
      overflow-y: hidden;
      
    }
    
    .character-details-spoiler-div h3 {
      margin-bottom: 25px;
    }
    
    
    .character-details-details-wrapper {
      display: flex;
      justify-content: center;
      
    }
    
    .character-details-details {
      margin: 50px;
      width: 100%;
    }
    
    .character-details-details h1{
      font-size: 50px;
      margin-bottom: 10px;
    }
    
    .character-details-details h2{
      font-size: 30px;
    }
    
  
    
  
    /* episode details section */

    .standard-header {
      min-height: 100px;
      height: fit-content;
      
    }

    .episode-details-page-div {
      overflow-y: visible;
      height: fit-content;
      min-height: 100%;
    }

    .episode-details-page-div .back-button {
      margin-right: 25px;
    }
  
    .episode-details-options-div {
      display: block;
      overflow-y: hidden;
      margin-top: 80px;
    }
  
    .episode-details-instructions-div {
      display: flex;
      position: absolute;
      top: 150px;
      left: 50%;
      transform: translate(-50%,0px);
      margin: 10px;
      width: fit-content;
  
    }
  
    .episode-details-options-div img{
    height: 175px;
    width: 275px;
    margin-top: -10px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 0px;
  
    }
  
    .episode-details-options-div img:hover{
      height: 180px;
      width: 280px;
      margin-top: -10px;
      margin-bottom: 25px;
      margin-left: 15px;
      margin-right: -5px;
  
    }

  
    .episode-list-div {
      margin: 0 auto;
      margin-top: 15px;
      margin-left: -30px;
      margin-right: 10px;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(2,175px);
      background-color: var(--background-color);
    }

    .episode-option-wrapper {
      width: 155px;
      height: 175px;
    }

    .episode-option-wrapper:hover {
      width: 160px;
      height: 180px;
    }

    .episode-option-wrapper a{
      padding-top: 0px;
      overflow-y: hidden;
    }

    .episode-option-div {
      overflow-y: hidden;
    }
    
  
    .page-background {
      min-width: auto;
      
    }


  
    .breaking-bad-page .nav-bar-buttons-div {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(3,120px);
      height: fit-content;
    }

    .breaking-bad-page .nav-bar-buttons-div a{
      width: 90px;
    }

    .better-call-saul-page .back-button {
      margin-right: 25px;
    }
  
    .better-call-saul-page .nav-bar-buttons-div {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(3,120px);
      height: fit-content;
    }

    .better-call-saul-page .nav-bar-buttons-div a{
      width: 90px;
    }
  
  
    .arrow-choice-button {
      display: none;
      
    }

    /* episode page */


    .episode-page-wrapper .page-background .standard-header .page-title{
      font-size: 27px;
    }

    .episode-description {
      margin-top: 10px;
      margin-bottom: -20px;
    }

    
  
      /* nav bar buttons */

    .nav-bar-buttons-wrapper {
      display: flex;
      justify-content: center;
    }

    .nav-bar-buttons-div{
      display: grid;
      grid-template-columns: repeat(2,150px);
      height: fit-content;
      
    }
  
    .nav-bar-buttons-div button:hover{
      background-color: var(--button-color);
      background-image: linear-gradient(var(--button-color),var(--color-four));
    }
  
    .nav-bar-buttons-div .selected-button {
      background-color: var(--button-color);
      background-image: linear-gradient(var(--button-color),var(--color-four));
      
    }
  
    .nav-bar-buttons-div a:hover {
      background-color: var(--button-color);
      background-image: linear-gradient(var(--button-color),var(--color-four));
    }


  
      /* Spoiler Warning Modal section */
  
    .spoiler-modal-div {
      width: 345px;
      height: 275px;
      
    }

    .spoiler-modal-content-div {
      margin-top: 0px;
      margin-bottom: 0px;
      overflow-y: hidden;
    }
  
      /* Quotes Section */

    .quotes-instructions-div {
      margin-top: 0px;
    }
  
    .character-quotes-modal-wrapper {
      /* display: flex;
      justify-content: center; */
      position: fixed;
      margin: auto; 
      margin-top: 70px;
      top: 10%;
      left: 50%;
      transform: translate(-50%,-10%);
      background-color: var(--top-bar-color);
      background-image: linear-gradient(var(--color-three),var(--top-bar-color));
      width: 250px;
      max-height: 350px;
      border-radius: 5px;
      overflow-y: visible;
      
    }


    .character-quotes-modal-wrapper img {
      height: 200px;
      width: 150px;
    }

    .character-quotes-modal-div li{
      margin-top: 25px;
    }
  
    
      /* Deaths Section */

    .deaths-page-header{
      display: flex;
      justify-content: space-between;
    }

    .deaths-page-header .page-title {
      width: fit-content;
    }

    .deaths-page-header h3{
      font-size: 15px;
      width: 110px;
    }

    .deaths-page-header h2 {
      font-size: 20px;
    }
  
    .deaths-list-div {
      margin: 0 auto;
      margin-top: 30px;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(2,175px);
      margin-left: 20px;
      background-color: var(--background-color);
    }


    .death-option-wrapper {
      border-radius: 5px;
      background-color: var(--button-color);
      background-image: linear-gradient(var(--button-color),var(--color-four));
      height: 150px;
      width: 150px;
      margin: 10px;
      overflow-y: hidden;
    }
    
    .death-option-wrapper:hover {
      cursor: pointer;
      height: 155px;
      width: 155px;
      margin: 5px;
    }

    .death-modal-div {
      margin-top: 20px;
      width: 250px;
      max-height: 300px;
    }

    .death-modal-div h1 {
      font-size: 40px;
    }

  
}

@media screen and (min-width: 320px) and (max-width: 720px) and (orientation: landscape) {

  .main-photos-list img {
    width: 320px;
    /* height: var(--main-picture-desktop-height); */
    height: 160px;
    display: block;
    overflow-x: visible;
  }

  .auto-slider{
    display: flex;
    margin: 150px auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
    /* outline: 1px solid red; */
    width: 320px;
    /* height: var(--main-picture-desktop-height); */
    height: 220px;
    overflow-x: hidden;
  
    
  }
  
  @keyframes slide{
    10%{
      transform: translateX(0);
    }
    15%, 30%{
      transform: translateX(-320px);
    }
    35%, 50%{
      transform: translateX(-640px);
    }
    55%, 70%{
      transform: translateX(-960px);
    }
    75%, 90%{
      transform: translateX(0);
    }
  }

  .main-footer-div {
    height: 35px;
  }

    /* Characters section */

    .characters-page-header {
      display: block;
      background-color: var(--top-bar-color);
      background-image: linear-gradient(var(--color-three),var(--top-bar-color));
      font-size: 30px;
      height: 135px;
      overflow-y: hidden;
    }
  
    .characters-page-header input{
      display: inline-block;
      justify-content: center;
      padding-left: 15px;
      font-size: 20px;
      height: 40px;
      width: 80%;
      margin-top: 5px;
      margin-left: 20px;
      
      
    }
    
    .characters-page-header-back-and-title {
      display: flex;
      align-items: center;
      justify-content: left;
      margin-left: 5px;
      
    
    }


  .character-list-wrapper {
    display: flex;
    justify-content: center;
  }

  .character-list-div {
    margin: 0 auto;
    margin-top: 15px;
    
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,200px);
    overflow-x: visible;
  }
  

  .character-option-div-wrapper {
    height: 160px;
    width: 160px;
    background-color: var(--button-color);
    background-image: linear-gradient(var(--button-color),var(--color-four));
    margin: 30px;
    border-radius: 5px;
    text-shadow: black 1px 2px 4px;
    box-shadow: black 5px 5px 10px;
    overflow-y: hidden;
    margin-bottom: 20px;
    margin-top: 10px
  }
  
  .character-option-div-wrapper:hover {
    cursor: pointer;
    height: 165px;
    width: 165px;
    margin: 25px;
    margin-bottom: 15px;
    margin-top: 5px;
  }
  
  .character-option-div-wrapper a{
    padding-top: 10px;
  }

  .character-option-div {
    overflow-x: hidden;
  }

  .character-option-div img {
    width: 75px; 
    height: 100px;
  }

  /* Character Details Section */

  .character-details-loaded-div img {
    width: 275px;
    height: 380px;
    margin-bottom: -30px;
    margin-top: 15px;
    margin-left: 30px;
  }


  .character-details-page-div {
    display: block;
    background-color: var(--background-color);
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  
  .character-details-page-div .back-button{
    
    margin-left: 10px;
  }
  
  .character-details-page-div .back-button-wrapper{
    display: flex;
    justify-content: left;
    overflow-x: visible;
  
  }
  
  .character-details-loaded-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    min-width: 100%;
    
    
  }
  
  .character-details-loaded-div {
    display: flex;
    
    /* overflow-y: hidden; */
  }

  .character-details-loaded-div h1 {
    margin-top:-10px;
    
  }

  .character-details-details-wrapper{
    margin-top: -40px;
    width: 450px;
    
  } 


  
  .character-details-loaded-div h3 {
    margin-top: 10px;
  }
  

  
  
  
  .character-details-spoiler-div {
    background-color: var(--top-bar-color);
    background-image: linear-gradient(var(--color-three),var(--top-bar-color));
    justify-content: center;
    padding: 40px;
    padding-top: 20px;
    margin-top: 10px;
    border-radius: 5px;
    height: 90px;
    overflow-y: visible;
    
  }

  .character-details-spoiler-div button{
    margin-top: 0px;
  }
  
  .character-details-spoiler-div h3 {
    margin-bottom: 25px;
  }
  
  
  .character-details-details-wrapper {
    display: flex;
    justify-content: center;
    
  }
  
  .character-details-details {
    margin: 50px;
    width: 100%;
  }
  
  .character-details-details h1{
    padding-top: 5px;
    font-size: 35px;
  }
  
  .character-details-details h2{
    font-size: 25px;
  }
  

  

  /* episode details section */

  .standard-header {
    min-height: 100px;
    height: fit-content;
    
  }

  .episode-details-page-div {
    overflow-y: visible;
    height: fit-content;
    min-height: 100%;
  }

  .episode-details-page-div .back-button {
    margin-right: 25px;
  }

  .episode-details-options-div {
    display: flex;
    overflow-y: hidden;
    margin-top: 15px;
  }

  .episode-details-instructions-div {
    /* 
    display: flex;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%,0px);
    margin: 10px;
    width: fit-content;
     */
     
     justify-content: center;
     width: 300px;

  }

  .episode-details-options-div img{
  height: 165px;
  width: 175px;
  margin-top: -10px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 50px;

  }

  .episode-details-options-div img:hover{
    height: 170px;
    width: 180px;
    margin-top: -5px;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 45px;

  }

  .episode-list-div {
    margin: 0 auto;
    margin-top: 20px;
    margin-left: -20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,200px);
    background-color: var(--background-color);
  }

  .episode-option-wrapper {
    width: 155px;
    height: 175px;
  }

  .episode-option-wrapper:hover {
    width: 160px;
    height: 180px;
  }

  .episode-option-wrapper a{
    padding-top: 0px;
    overflow-y: hidden;
  }

  .episode-option-div {
    overflow-y: hidden;
  }
  

  .page-background {
    min-width: auto;
    
  }



  .breaking-bad-page .nav-bar-buttons-div {
    display: grid;
    justify-content: left;
    grid-template-columns: repeat(5,120px);
    height: fit-content;
  }

  .breaking-bad-page .nav-bar-buttons-div a{
    width: 90px;
  }

  .better-call-saul-page .back-button {
    margin-right: 25px;
  }

  .better-call-saul-page .nav-bar-buttons-div {
    display: grid;
    justify-content: left;
    grid-template-columns: repeat(5,120px);
    height: fit-content;
  }

  .better-call-saul-page .nav-bar-buttons-div a{
    width: 90px;
  }


  /* episode page */

  .episode-page-wrapper .page-background .standard-header .back-button{
      margin-right: 20px;
  }

  .episode-page-wrapper .page-background .standard-header .back-button:hover{
      margin-right: 15px;
  }

  .episode-description {
    margin-top: 10px;
    margin-bottom: -10px;
  }



  

    /* nav bar buttons */

  .nav-bar-buttons-wrapper {
    display: flex;
    justify-content: center;
  }

  .nav-bar-buttons-div button:hover{
    background-color: var(--button-color);
    background-image: linear-gradient(var(--button-color),var(--color-four));
  }

  .nav-bar-buttons-div .selected-button {
    background-color: var(--button-color);
    background-image: linear-gradient(var(--button-color),var(--color-four));
    
  }

  .nav-bar-buttons-div a:hover {
    background-color: var(--button-color);
    background-image: linear-gradient(var(--button-color),var(--color-four));
  }



    /* Spoiler Warning Modal section */

  .spoiler-modal-div {
    width: 345px;
    height: 275px;
    
  }

  .spoiler-modal-content-div {
    margin-top: 0px;
    margin-bottom: 0px;
    overflow-y: hidden;
  }

    /* Quotes Section */

  .quotes-instructions-div {
    margin-top: -5px;
    margin-bottom: 0px;
  }

  .quotes-instructions-div h2 {
    margin-top: 5px;
  }

  .character-quotes-modal-wrapper {
    /* display: flex;
    justify-content: center; */
    position: fixed;
    margin: auto; 
    margin-top: 20px;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-10%);
    background-color: var(--top-bar-color);
    background-image: linear-gradient(var(--color-three),var(--top-bar-color));
    width: 250px;
    max-height: 225px;
    border-radius: 5px;
    overflow-y: visible;
    padding-top: 10px;

    
  }


  .character-quotes-modal-wrapper img {
    height: 200px;
    width: 150px;
  }

  .character-quotes-modal-div li{
    margin-top: 25px;
  }

  
    /* Deaths Section */

  .deaths-page-header{
    display: flex;
    justify-content: space-between;
  }

  .deaths-page-header .page-title {
    width: fit-content;
  }

  .deaths-page-header h3{
    font-size: 25px;
    width: 275px; 
  }

  .deaths-page-header h2 {
    font-size: 30px;
  }

  .deaths-list-div {
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,190px);
    margin-left: 20px;
    background-color: var(--background-color);
  }


  .death-option-wrapper {
    border-radius: 5px;
    background-color: var(--button-color);
    background-image: linear-gradient(var(--button-color),var(--color-four));
    height: 150px;
    width: 150px;
    margin: 10px;
    overflow-y: hidden;
  }
  
  .death-option-wrapper:hover {
    cursor: pointer;
    height: 155px;
    width: 155px;
    margin: 5px;
  }

  .death-modal-div {
    margin-top: 5px;
    width: 275px;
    max-height: 200px;
  }

  .death-modal-div h1 {
    font-size: 40px;
  }
  
}